<html>
<head>
    <%-include menu.ejs%>
</head>

<body>
<div class="container my-5">
    <h2 class="text-center">Live Blogging Section</h2>
    <form action="/CreateLiveBlog" method="post">
        <div class="form-group">
            <label for="content">Live Blog Title</label>
            <input name="title" id="title" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="date">Start Date</label>
            <input class="form-control" type="date" name="date" id="date" required/>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Post</button>
        </div>
    </form>
</div>
</body>
</html>