<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <%-include menu.ejs%>
    </head>
    <body>
        <div class="container my-5">
            <table class="table">
                <thead class="black white-text">
                    <tr>
                        <th scope="col">Live Blog Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Live On</th>
                    </tr>
                </thead>
                <tbody>
                    <%posts.forEach(post=>{%>
                    <tr scope="row">
                        <td>
                            <a href="/liveblog/<%=post.pk_id%>" ><%=post.name%></a>
                        </td>
                        <td>Akash Bakshi</td>
                        <td>June 3rd, 2019</td>
                    </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
    </body>
</html>
