<html>
    <head>
        <%-include menu.ejs%>
    </head>

    <body>
        <div class="container my-5">
            <h2 class="text-center">Live Blogging Section</h2>
            <form action="/Broadcast" method="post">
                <div class="form-group">
                    <label for="content">Post Content</label>
                    <textarea name="content" id="content" class="form-control" rows="15" required></textarea>
                </div>
                <div class="form-group">
                    <select name="author" id="author" class="select-dropdown form-control" required>
                        <%authors.forEach(author=>{%>
                            <option value="<%=author.pk__id%>"><%=author.name%></option>
                        <%})%>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </form>
        </div>
    </body>
</html>