<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>

    <script>
        $(document).ready(function(){
            var socket = io();

            socket.on('update',function(msg,author,date){
                console.log(msg,author,date);

                $("#feed").prepend(
                    "<ul class=\"list-group\">\n" +
                    "                <li  class=\"list-group-item flex-column align-items-start\">\n" +
                    "\n" +
                    "                  <h4 class=\"mb-2 font-weight-bold\"> " +msg+"</h4>\n" +
                    "                  <div class=\"d-flex w-100 justify-content-between\">\n" +
                    "                    <p class=\"align-content-start\">"+author+" </p>\n" +
                    "                    <small class=\"text-muted align-content-end\">"+date+"</small>\n" +
                    "                  </div>\n" +
                    "                </li>\n" +
                    "\n" +
                    "              </ul>"
                );
            });
        });
    </script>
    <%-include menu.ejs%>
</head>
<body>
<div class="container my-3">
    <h1 class="text-center font-weight-bold my-5"><%=info[0].name%></h1>

    <div class="d-flex w-100 justify-content-between">

        <h5>Live Feed</h5>
        <p><%=info[0].event_date%></p>
    </div>
    <div id="feed">
        <%for(var i =0;i<content.length;i++){%>

        <ul class="list-group">
            <li  class="list-group-item flex-column align-items-start">
                <h4 class="mb-2 font-weight-bold">  <%=content[i].content%></h4>
                <div class="d-flex w-100 justify-content-between">
                    <p class="align-content-start"><%=content[i].name%></p>
                    <small class="text-muted align-content-end"><%=content[i].created_at%></small>
                </div>
            </li>

        </ul>

        <%}%>
    </div>
</div>

</body>
</html>
