<html>
<head>
    <%-include menu.ejs%>

    <%if(error != null){%>
    <div class=" alert alert-danger my-5" role="alert">
        <p class="text-center"><%=error%></p>
    </div>
    <%}%>
</head>

<body>
<br/>
<div class="container my-5">
    <h2 class="text-center">Login</h2>
    <form method="post" action="/login" >
        <div class="form-group">
            <input name="username" id="username" type="text" class="form-control" placeholder="Username" required>
        </div>

        <div class="form-group">
            <input id=password name=password type="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <button class="btn btn-primary align-content-center" type="submit">Login</button>
        </div>
    </form>
</div>
</body>
</html>