<html>

    <head>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/mdb.min.css" rel="stylesheet">

        <link href="css/style.css" rel="stylesheet" type="text/css">

        <header>

            <nav class="navbar fixed-top navbar-expand-lg navbar-dark black">
                <a class="navbar-brand" href="/"><strong>Live Blogger</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/allliveblogs">Live Blogs</a>
                        </li>

                        <li class="nav-item dropdown" style="float:right;">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </a>
                            <div class="dropdown-menu dropdown-default"
                                 aria-labelledby="navbarDropdownMenuLink-333">
                                <%if(user == null){%>
                                    <a class="dropdown-item" href="/login">Login</a>
                                    <a class="dropdown-item" href="/registration">Register</a>
                                <%}%>
                                <%if(user != null){%>
                                    <a class="dropdown-item" href="/LivePost">Create Live Blog Page</a>
                                    <a class="dropdown-item" href="/Broadcast">Broadcast To Live Blog</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                <%}%>

                            </div>
                        </li>
                    </ul>

                </div>


            </nav>



        </header>

    </head>

    <body>
        <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="js/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="js/mdb.min.js"></script>
    </body>

</html>