<html>
    <head>
        <%-include menu.ejs%>

    </head>

    <body>
        <br/>
        <div class="container my-5">
            <h2 class="text-center">Registration</h2>
            <form method="post" action="/registerUser" oninput='verifypassword.setCustomValidity(password.value != verifypassword.value ? "Passwords do not match." : "")'>
                <div class="form-group">
                    <input name="username" id="username" type="text" class="form-control" placeholder="Username" required>
                </div>

                <div class="form-group">
                    <input name="email" id="email" type="text" class="form-control" placeholder="E-Mail Address" required>
                </div>

                <div class="form-group">
                    <input id=password name=password type="password" class="form-control" placeholder="Password" required>
                </div>

                <div class="form-group">
                    <input id=verifypassword name=verifypassword type="password" class="form-control" placeholder="Verify Password" required>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary align-content-center" type="submit">Register</button>
                </div>
            </form>
        </div>
    </body>
</html>